<!DOCTYPE html>
<html>
<head>
    <title>Performance Dashboard</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body { background-color: #E7EFC7; font-family: Arial; }
        .chart { background-color: #AEC8A4; padding: 20px; margin: 20px; }
        .list { background-color: white; margin: 20px; padding: 20px; }
        .item { border-bottom: 1px solid #AEC8A4; padding: 10px; }
        button { background-color: #8A784E; color: white; border: none; padding: 5px 10px; margin: 2px; }
    </style>
</head>
<body>
<!-- Add this to your dashboard header -->
<button id="themetoggle" class="theme-toggle">🌙</button>
  <div class="dashboard">
    <div class="container">
    <div class="chartt">
        {{ chart1|safe }}
    </div>
<div class="summary-card">

        <h3>Subjects</h3>
        {% for subject in subjects %}
        <div class="item">
            {{ subject.subject }} - {{ subject.marks }}% - {{ subject.time_spent }}m
        </div>
        {% endfor %}
    </div>
    </div><div class="logout-container"><a href="{{ url_for('dashboard') }}" class="logout">Back to Dashboard</a> </div></div>
</body>
</html>